:root {
  --white: #f8f8f2;
  --background: #282a36;
  --pink: #ff79c6;
  --grey: #44475a;
  --soft-grey: #ddd;
  --purple: #bd93f9;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  background: linear-gradient(180deg, rgba(98,114,164,1) 0%, rgba(189,147,249,1) 92%);  
  height: 100vh;
  display: flex;
  align-items: center;
}

#grid {
  height: 80vh;
  width: 80vh;
  margin: 0 auto;
  display: grid;
  grid-gap: 0px;
  background-color:var(--background);
}

#snake {
  background-color: var(--pink);
  /* box-shadow: 0px 1px 10px 1px rgba(248, 242, 220, 1); */
  z-index: 10;
}

#food {
  background-color: var(--grey);
}

#game-over {
  position: absolute;
  font-family: 'East Sea Dokdo', cursive;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--background);
  opacity: .8;
  z-index: -1;
}

#game-over p {
  color: var(--white);
  font-size: 50px;
}

button#start-play {
  margin-top: 17px;
  padding: 5px 20px;
  border: none;
  font-size: 20px;
}

#counter {
  color: var(--white);
  grid-area: 32 / 1 / 33 / 4;
  padding: 0 8px;
  width: 52px;
}